h2 {
    margin: 100px 0px 20px 100px;
}
h1 {
    text-align: center;
    font-size: 60px;
}
img {
    width: 320px;
    float: right;
}
h3 {
    text-align: center;
    font-size: 36px;
}
p{
    width: 900px;
    margin: 0px 30px;
}